{% extends 'base.html' %}
{% load static %}
{% block content %}

{% load cart %}
{% load custom_filter %}
<!-- body -->
<style>
.card{
	width: 90%;
	height: 320px;
	box-shadow: 4px 2px 2px grey;
}

.info{
	margin-top: 20px;
}

.info p{
	line-height:26px;
	margin-top: 20px;
	font-size: 26px;
}


footer{
	height: 300px;
	background-color: lightgrey;
	width: 100%;
  }
  
  
  .float-child {
	width: 50%;
	float: left;
	margin: 20px;
	
  }  
  
  .float-child .btn{

	  margin-bottom: 20px;
	margin-left: 240px;
	background-color:rgb(50, 168, 82);
	color:black;
	font-size:20px;
  }
  .name{
	  font-size: 18px;
	  background-color: #85C1E9;
	  border-radius: 10px;
	  
  }
  input{
	background-color:#1ABC9C ;
	
  }
.card-footer{
	border:none;
}
</style>



<div class="container-fluid mt-3">
	<div class="row">


		<!-- filter -->

		<div class="col-lg-3 mx-auto">
			<h3 style="text-align:center;" ><u><i>Top Categories</i></u></h3>
			<div class="list-group">

				<a href="/" class="list-group-item list-group-item-action" style="font-style: italic;font-family: 'Teko', sans-serif; background-color:lightblue;font-size:24px;">All Products</a>

				{% for category in categories %}
				<a href="/?category={{category.id}}"
					class="list-group-item list-group-item-action" style=" font-family: 'Teko', sans-serif;font-size:22px;">{{category.name}}</a>
				{% endfor %}
			</div>
		</div>

		<!-- all products -->
		<div id='products' class="col-lg-9 mx-auto">
			<div class="row mx-auto">
				{% for product in products %}
				<div class="card mx-auto mb-3" id={{product.id}} >
					
					<div class="card-body" style="background-color:#D1F2EB ;">
						<p class="card-title name"><b>&nbsp;&nbsp; {{product.name}}</b></p>
						<p class="card-text float-right"><b>ID - {{product.number}}</b></p>
						<p class="card-text"><i>{{product.category}}</i></p>
						<p class="card-text" >{{product.location}}</p>
						<p class="card-text"><b>{{product.start}}</b></p>
						<p class="card-text"><b>{{product.price|currency}}</b></p>
					</div>
					<div class="card-footer p-0 no-gutters">
					<form action="/#{{product.id}}" method="POST" class="btn-block">
						{% csrf_token %}
						<input hidden type="text" name='product' value='{{product.id}}'>
						<input type="submit" class="float-right btn " 
							value="VIEW DETAILS">
					</form>


				</div>
			</div>
						


				{% endfor %}
			</div>
		</div>
	</div>
</div>



{% endblock %}

{% block footer %}
<footer>
	  <div class="float-child">
		<h3 style="text-align:center;">CONTACT US</h3>
		<hr style="width:90%;size:5;height:2px;border-width:0;background-color:black;">
		<p><i class="fa fa-map-marker" ></i>  New York, NY 10012, US</p>
		<p><i class="fas fa-envelope me-3"></i>info@example.com</p>
		<p><i class="fas fa-phone me-2"></i> + 01 234 567 88</p>
		<p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
	  

  </footer>
  {% endblock %}